@font-face {
  font-family: BR Sonoma;
  src: url("./fonts/br-sonoma/BRSonoma-Regular.otf");
}

@font-face {
  font-family: Euclid Circular A Trial;
  src: url("./fonts/EuclidCircularA-Regular/EuclidCircularA-Regular.ttf");
}

html{
    font-family: BR Sonoma;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    width: 8px;

    @apply bg-gray-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }